{% extends 'admin_sidebar.html' %}
{% block sidebar%}

{% load static %}


<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Brand </h2>
            <p>Brand Management</p>
        </div>

    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 mb-lg-0 mb-15 me-auto">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <!-- <div class="col-lg-2 col-6">
                            <div class="custom_select">
                                <select class="form-select select-nice">
                                    <option selected>Categories</option>
                                    <option>Technology</option>
                                    <option>Fashion</option>
                                    <option>Home Decor</option>
                                    <option>Healthy</option>
                                    <option>Travel</option>
                                    <option>Auto-car</option>
                                </select>
                            </div>
                        </div> -->
                <div class="col-lg-2 col-6">
                    <input type="date" class="form-control" name="">
                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="row">
            <div class="col-md-3 p-5">
                <form action="{% url 'admin_brand_page' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid">
                        <button class="btn" type="submit"
                            style="background-color: rgba(0, 0, 0, 0.87); color: rgb(221, 210, 210);">Add Brand</button>
                    </div>
                </form>
            </div>
            <div class="col-md-9">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th>ID</th>
                                <th>Image</th>
                                <th>Brand Name</th>
                                <th>Acive</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in c %}
                            <tr>

                                <td>{{data.id}}</td>
                                <td>
                                    <div style="width: 70px;"><img src="{{ data.brand_image.url }}" alt="brand_image">
                                    </div>
                                </td>
                                <td>{{data.brand_name}}</td>
                                <td> {% if data.is_active %} <span class="badge rounded-pill bg-success">Active</span>
                                    {% else %} <span class="badge rounded-pill bg-danger">Inactive</span> {% endif %}
                                </td>
                                <td class="text-end p-3">

                                    <a class="badge  bg-danger  btn-sm rounded-pill text-white"
                                        href="{% url 'brand_blocker' data.id %}">{% if data.is_active %}block
                                        {% else %} UnBlock {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'update_brand' data.id%}" class="btn btn-warning" >Edit</a> 
                                      
                                        
                     
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% for messge in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                </div> <!-- card-body end// -->
            </div>
        </div>

    </div> <!-- card end// -->
    
</section> <!-- content-main end// -->
<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
                document.write(new Date().getFullYear())
            </script> ©, Evara - HTML Ecommerce Template .
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>
</main>
<script src="{% static 'assets/js/vendors/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/select2.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/vendors/jquery.fullscreen.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/chart.js' %}"></script>
<!-- Main Scr{% static 'ipt -->
<script src="{% static 'assets/js/main.js" type="text/javascript' %}"></script>
<script src="{% static 'assets/js/custom-chart.js" type="text/javascript' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-brands.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:49 GMT -->

</html>
{% endblock sidebar %}