{% extends 'nav.html' %}
{% block contend %}
{% load static %}

<div class="container">
    <div class="row pt-5 gy-1">
        <div class="col-12 ">
            
            <h1 class="text-center">Privacy Policy</h1>
            <p class="text-center mt-5">Thank you for choosing FluxBeat as your destination for high-quality headsets. At FluxBeat, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines our practices regarding the collection, use, and disclosure of your information when you use our website.</p>
        </div>
        <div class="col-12">
            <div class="row gy-5 mt-3">
            
            <h3 class="text-center mt-5">Information We Collect:</h3>

            <div class="col-12 col-lg-4 col-md-6 ">
            <h4 class="text-center mt-5">Personal Information:</h4>
            <p text-start" style="font-size:14px">When you create an account or make a purchase on FluxBeat, we collect information such as your name, email address, shipping address, and payment details. This information is necessary for order fulfillment and customer support.</p>
            </div>

            <div class="col-12 col-lg-4 col-md-6 ">
            <h4 class="text-center mt-5">Device Information:</h4>
            <p class="text-start" style="font-size:14px">We may collect information about the device you are using to access our website, including the device type, operating system, and browser type. This helps us optimize our website for a better user experience.</p>
            </div>

            <div class="col-12 col-lg-4 col-md-6 ">
            <h4 class="text-center mt-5">Usage Data:</h4>
            <p class="text-start" style="font-size:14px">We may collect information about how you interact with our website, including the pages you visit, the products you view, and your browsing patterns. This data helps us improve our website's functionality and tailor our offerings to your preferences.</p>
           </div> 



          </div> 
        </div>
        <div class="col-12">
            <div class="row gy-5 mt-3">
            
            <h3 class="text-center mt-5">How We Use Your Information:</h3>

            <div class="col-12 col-lg-4 col-md-6 ">
            <h4 class="text-center mt-5">Order Processing:</h4>
            <p text-start" style="font-size:14px">We use your personal information to process and fulfill your orders, including shipping and payment processing.</p>
            </div>

            <div class="col-12 col-lg-4 col-md-6 ">
            <h4 class="text-center mt-5">Customer Support:</h4>
            <p class="text-start" style="font-size:14px">Your information helps us provide efficient customer support and address any inquiries or concerns you may have.</p>
            </div>

            <div class="col-12 col-lg-4 col-md-6 ">
            <h4 class="text-center mt-5">Improving Our Services:</h4>
            <p class="text-start" style="font-size:14px">We analyze usage data to understand how visitors interact with our website, allowing us to enhance our services, optimize content, and improve user experience.</p>
           </div> 



          </div> 
        </div>
        

        <div class="col-12">
            <div class="row gy-5 mt-3">
            
            <h3 class="text-center mt-5">Information Sharing:</h3>

            <div class="col-12  col-md-6 ">
            <h4 class="text-center mt-5">Third-Party Service Providers:</h4>
            <p text-start" style="font-size:14px">We may share your information with trusted third-party service providers, such as payment processors and shipping partners, to facilitate order processing and delivery.</p>
            </div>

            <div class="col-12 col-md-6 ">
            <h4 class="text-center mt-5">Legal Compliance:</h4>
            <p class="text-start" style="font-size:14px">We may disclose your information if required by law or to protect our rights, property, or safety.</p>
            </div>



          </div> 
        </div>
        
        <div class="col-12">
            <div class="row gy-5 mt-3">
            
            <h3 class="text-center mt-5">Data Security:</h3>

            <div class="col-12 ">
           
            <p text-start" style="font-size:14px">FluxBeat employs industry-standard security measures to safeguard your personal information. However, no online transmission or storage method can be guaranteed as 100% secure. We strive to use commercially acceptable means to protect your data but cannot guarantee absolute security.</p>
            </div>

            <div class="col-12 ">
            <h3 class="text-start mt-5">Your Choices:</h3>
            <p class="text-start" style="font-size:14px">You have the right to access, correct, or delete your personal information. You can manage your communication preferences and opt-out of promotional emails at any time.</p>
            </div>
            <div class="col-12 ">
            <h3 class="text-start mt-5">Changes to This Privacy Policy:</h3>
            <p class="text-start" style="font-size:14px">FluxBeat reserves the right to update this Privacy Policy. We will notify you of any changes by posting the new Privacy Policy on this page..</p>
            </div>
            <div class="col-12 mb-5">
            <h3 class="text-start mt-5">Contact Us:</h3>
            <p class="text-start" style="font-size:14px">If you have any questions or concerns about our Privacy Policy, please  <a href="{% url 'contact_us' %}">Contact Us</a> </p>
           
            <p><i> using FluxBeat's website, you agree to the terms outlined in this Privacy Policy.</i></p>
            <p><i>Thank you for choosing FluxBeat!</i></p>
            </div>




        </div>
        </div>
    </div>
</div>

{% endblock %}