{% extends 'admin_sidebar.html' %}
{% block  sidebar%}

{% load static %}
<style>
    .bt
    {
    border: none;
    background: #00a689;
    padding: 5px 19px;
    border-radius: 4px;
    }

</style>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                
                <div>
                    <a href="{% url 'daily_sale' %}" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Sales Report</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                    <div class="custom_select">
                        <form action="{% url 'admin_dashboard' %}" method="post" style="display: flex; column-gap: 10px;">
                            {% csrf_token %}
                            <select class="form-select select-nice" name="opt">
                              <option value="all"><a href="">All</a></option>
                              <option value="today"><a href="">Today</a></option>
                              <option value="week"><a href="">Week</a></option>
                              <option value="month"><a href="">Month</a></option>
                              <option value="year"><a href="">Year</a></option>
                              
                            </select>
                            <button type="submit" class="bt">Filter</button>
                          </form>
                    </div>
            </div>
            <div class="row">
                
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Total Customers</h6>
                                <span>{{user_count}}</span>
                                <span class="text-sm">
                     
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span>{{total_orders}}</span>
                                <span class="text-sm">
                                  
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span>{{total_products}}</span>
                                <span class="text-sm">
                                    
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Toalal earning</h6> <span>{{total_earning}}</span>
                                <span class="text-sm">
                                   
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Pending</h6> <span>{{pending}}</span>
                                <span class="text-sm">
                                 
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Delivered</h6> <span>{{deliverd}}</span>
                                <span class="text-sm">
                                
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Canceld</h6> <span>{{canceld}}</span>
                                <span class="text-sm">
                                    
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Returnd</h6> <span>8</span>
                                <span class="text-sm">
                                    
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5>

                            <div>
                                <canvas id="piechart"></canvas>
                              </div>

                        </article>
                    </div>
                
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title" style="text-decoration: underline; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Users</h5>
                            <div class="new-member-list" style="overflow-y: auto; height: 280px;">
                                {% for i in users %}
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="d-flex align-items-center">
                                        <!-- <img src="assets/imgs/people/avatar4.jpg" alt="" class="avatar"> -->
                                        <div>
                                            <h6>{{i.first_name}} {{i.last_name}}</h6>
                                            <p class="text-muted font-xs">
                                                {{i.email}}
                                            </p>
                                        </div>
                                    </div>
                                    <!-- <a href="#" class="btn btn-xs"><i class="material-icons md-add"></i> Add</a> -->
                                </div>
                                {% endfor %}
                                
                            </div>
                        </article>
                    </div>
                    <div class="card mb-4">
                        
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <h4 class="card-title">Latest orders</h4>

                    <div class="row align-items-center">
                       
                        </div>
                        <!-- <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="custom_select">
                                <select class="form-select select-nice">
                                    <option selected>Status</option>
                                    <option>All</option>
                                    <option>Paid</option>
                                    <option>Chargeback</option>
                                    <option>Refund</option>
                                </select>
                            </div>
                        </div> -->
                    </div>
                </header>
                <div class="card-body">
                        <div class="table-responsive" style="height: 300px;">
                            <table class="table align-middle table-nowrap mb-0 ">
                                <thead class="table-light">
                                    <tr>

                                        <th class="align-middle" scope="col">Order ID</th>
                                        <th class="align-middle" scope="col">Billing Name</th>
                                        <th class="align-middle" scope="col">Date</th>
                                        <th class="align-middle" scope="col">Total</th>
                                        <th class="align-middle" scope="col">Payment Status</th>
                                        <th class="align-middle" scope="col">Payment Method</th>
                                        <th class="align-middle" scope="col">View Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in orders %}
                                    <tr>
                                        <td><a href="#" class="fw-bold">{{i.id}}</a> </td>
                                        <td>{{i.user_id.first_name}} {{i.user_id.last_name}}</td>
                                        <td>
                                            {{i.order_date}}
                                        </td>
                                        <td>
                                            ₹{{i.offer_price}}
                                        </td>
                                        <td>
                                            <span class="badge badge-pill badge-soft-success">{% if i.payment_id.Paymment_status == True%} Paid {% else%} Pending {% endif%}</span>
                                        </td>
                                        <td>
                                            <i class="material-icons md-payment font-xxl text-muted mr-5"></i> {{i.payment_id.Paymment_type}}
                                        </td>
                                        <td>
                                            <a href="{% url 'order_view' i.id %}" class="btn btn-xs"> View details</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
           
                    </div> <!-- table-responsive end// -->
                </div>
            </div>
            <!-- <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> -->
        </section>
</html>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('piechart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{label|safe}},
      datasets: [{
        label:"orders",
        data: {{data|safe}},
        backgroundColor:['green','red','yellow'],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
  
{% endblock  %}