{% extends 'nav.html' %}
{% block contend %}
{% load static %}
<style>
    .one-line-paragraph {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Optional: Add ellipsis (...) if content overflows */
}
.flux
{
    font-size: 46px;
    font-family: fantasy;
    letter-spacing: 5px;
    color: white;
}
.flux-motive
{
    text-align: center;
    margin-top: 61px;
    font-size: 32px;
    font-family: 'Spartan';
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    word-spacing: 11px;
}
.offer
{
    width: 73px;
    height: 84px;
    background: #00cb00;
    float: right;
    border-radius: 0px 0px 0px 27px;
    overflow: overlay;
    z-index: 100;
    position: absolute;
    right: 0;
    color: white;
    padding: 4px;
    display: flex;
    flex-direction: column;
    
}
.offer span{
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
}
</style>
    
    <main class="main">
        <section class="home-slider position-relative pt-50">
            <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                {% for i in banner %}
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="row align-items-center slider-animated-1">
                            <div class="col-lg-5 col-md-12 p-5"  style="background-image: url('{{i.banner_image.url}}'); 
                            background-position: center; height: 100%; display: flex; flex-direction: column;
                             justify-content: center; background-size: cover; width: 100%;
                             backdrop-filter: backdr;">
                               
                                <div class="hero-slider-content-2"> 
                                   
                                    <h4 class="animated">{{i.appied_for}} offer</h4>
                                    <h2 class="animated fw-900">{{i.offer_title}}</h2>
                                    <h1 class="animated fw-900 text-brand">{{i.offer_per}} % OFF</h1>
                                    <!-- <p class="animated">{{i.offer_title}}</p> -->
                                    <a class="animated btn btn-brush btn-brush-3" href="{% url 'shop_product_list' %}"> Shop
                                        Now </a>
                                </div>
                   
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <div class="single-slider-img single-slider-img-1">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="row align-items-center slider-animated-1">
                            <div class="col-lg-5 col-md-12 p-5" style="background-image: url('{% static 'images/banner_main.jpg' %}'); 
                                    background-position: center; height: 100%; display: flex; flex-direction: column;
                                    justify-content: center; background-size: cover; width: 100%;
                                    backdrop-filter: blur(5px);">           
                                    
                                    
                                    <div class="hero-slider-content-2">
                                     <br>
                                    <h1 class="animated fw-900" style="text-align: right; color: rgb(255, 255, 255);">FLUXBEAT</h1>
                                    <br>
                                    <h2 class="animated fw-900" style="text-align: right; ">HERE THE DIFFERENCE</h2>
                                    <br>
                                    <br>
                                    <br><br>
                                <!-- Your content goes here -->
                            </div>


                   
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <div class="single-slider-img single-slider-img-1">
                                    <img class="animated slider-1-2" src="userassets/imgs/slider/slider-2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </section>
        <section class="featured section-padding position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="userassets/imgs/theme/icons/feature-1.png" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="userassets/imgs/theme/icons/feature-2.png" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="userassets/imgs/theme/icons/feature-3.png" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="userassets/imgs/theme/icons/feature-4.png" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="userassets/imgs/theme/icons/feature-5.png" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="userassets/imgs/theme/icons/feature-6.png" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-tabs section-padding position-relative wow fadeIn animated">
            
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab"
                                data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one"
                                aria-selected="true">Featured</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two"
                                type="button" role="tab" aria-controls="tab-two" aria-selected="false">Wired</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three"
                                type="button" role="tab" aria-controls="tab-three" aria-selected="false">Wireless</button>
                        </li>
                    </ul>
                    <a href="{% url 'shop_product_list' %}" class="view-more d-none d-md-flex">View More<i
                            class="fi-rs-angle-double-small-right"></i></a>
                </div>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">

                            {% for i in products %}
                            {% if i.is_active == True and i.brand_id.is_active == True and i.category_id.is_active == True %}
                            
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    {% if i.offer_applied %}
                                    <div class="offer">
                                        <span>EXTRA</span> {{i.offer_applied.offer_per}} % <span>OFF</span>
                                    </div>
                                    {% endif %}
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="{% url 'product_detail' i.id%}">
                                                <img class="default-img" src="{{i.product_image.url}}" alt=""
                                                    style="width:230px; height: 250px;">
                                                <img class="hover-img" src="{{i.product_image.url}}" alt=""
                                                    style="max-width:230px;">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                     
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                href="{% url 'add_wishlist' product_id=i.id varient_id=0 %}"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up"
                                                href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="best">Best Sell</span>
                                        </div>
                                    </div>
                           
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">{{i.category_id.category_name}}</a>
                                        </div>
                                        <h2 class="one-line-paragraph"><a href="shop-product-right.html">{{i.product_name}}</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>{{i.offer}}</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹{{i.sale_prce}}</span>
                                            <span class="old-price">₹{{i.product_price}}</span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up"
                                                href="{% url 'add_to_cart' product_id=i.id varient_id=0 %}"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {% endif %}
                            {% endfor %}






                        </div>
                        <!--End product-grid-4-->
                    </div>
                    <!--En tab one (Featured)-->
                    <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                        <div class="row product-grid-4">
                            {% for i in products%}
                            {% if i.is_active == True and i.brand_id.is_active == True and i.category_id.is_active == True %}
                            {% if i.category_id.category_name == 'Wired' %}

                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    {% if i.offer_applied %}
                                    <div class="offer">
                                        <span>EXTRA</span> {{i.offer_applied.offer_per}} % <span>OFF</span>
                                    </div>
                                    {% endif %}
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="{% url 'product_detail' i.id%}">
                                                <img class="default-img" src="{{i.product_image.url}}" alt=""style="width:230px; height: 250px;">
                                                <img class="hover-img" src="{{i.product_image.url}}" alt=""style="width:230px; height: 250px;">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
 
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up"
                                                href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">  
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">Donec </a>
                                        </div>
                                        <h2><a href="shop-product-right.html">Lorem ipsum dolor</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>$238.85 </span>
                                            <span class="old-price">$245.8</span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up"
                                                href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                            {% endfor %}



                            
                        </div>
                        <!--End product-grid-4-->
                    </div>
                    <!--En tab two (Popular)-->
                    <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                        <div class="row product-grid-4">
                            {% for i in products%}
                            {% if i.is_active == True and i.brand_id.is_active == True and i.category_id.is_active == True %}
                            {% if i.category_id.category_name == 'Blutooth' %}
                            
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    {% if i.offer_applied %}
                                    <div class="offer">
                                        <span>EXTRA</span> {{i.offer_applied.offer_per}} % <span>OFF</span>
                                    </div>
                                    {% endif %}
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="{% url 'product_detail' i.id%}">
                                                <img class="default-img" src="{{i.product_image.url}}" alt=""style="width:230px; height: 250px;">
                                                <img class="hover-img" src="{{i.product_image.url}}"
                                                    alt="" style="width:230px; height: 250px;">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn hover-up"
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                    class="fi-rs-eye"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                           
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">{{i.brand_id.brand_name}}</a>
                                        </div>
                                        <h2 class="one-line-paragraph"><a href="shop-product-right.html">{{i.product_name}}</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹{{i.product_price}} </span>
                                            <span class="old-price">₹{{i.sale_prce}}</span>
                                        </div>
                                      
                                        <div class="product-action-1 show">
                                           
                                            <a aria-label="Add To Cart" class="action-btn hover-up"
                                                href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           {% endif %}
                            {% endif %}
                            {% endfor %}
                            
                        </div>
                        <!--End product-grid-4-->
                    </div>
                    <!--En tab three (New added)-->
                </div>
                <!--End tab-content-->
            </div>
        </section>

        <section class="popular-categories section-padding mt-15 mb-25">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>Popular</span> Brands</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows">
                    </div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                        {% for i in brands %}
                            {% if i.is_active == True %}
                        <div class="card-1" style="border: none;">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="{{i.brand_image.url}}"
                                        alt="" style="width: 90px;"></a>
                            </figure>
                            <!-- <h5><a href="shop-grid-right.html">{{i.brand_name}}</a></h5> -->
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
       
        <section class="section-padding">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows">
                    </div>
                    <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                        {% for i in arrival %}
                        {% if i.is_active == True and i.brand_id.is_active == True and i.category_id.is_active == True %}
                        <div class="product-cart-wrap small hover-up">

                            <div class="product-img-action-wrap">

                                <div class="product-img product-img-zoom">
                                    {% if i.offer_applied %}
                                    <div class="offer">
                                        <span>EXTRA</span> {{i.offer_applied.offer_per}} % <span>OFF</span>
                                    </div>
                                    {% endif %}
                                    <a href="{% url 'product_detail' i.id%}">
                                        <img class="default-img" src="{{i.product_image.url}}" alt="" style="height: 200px;">
                                        <img class="hover-img" src="{{i.product_image.url}}" alt="" style="height: 200px;">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal"
                                        data-bs-target="#quickViewModal">
                                        <i class="fi-rs-eye"></i></a>
                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                        href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>

                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">Hot</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="shop-product-right.html">{{i.product_name}}</a></h2>
                                <div class="rating-result" title="90%">
                                    <span>
                                        {{i.offer}}
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span>₹{{i.sale_prce}}</span>
                                    <span class="old-price">₹{{i.product_price}}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <!--End product-cart-wrap-2-->


                        <!--End product-cart-wrap-2-->
                    </div>
                </div>
            </div>
        </section>
        
       
      
        {% if banner_count >= 2 %}
        <section class="section-padding">
            <div class="container pt-25 pb-20">
                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="row">
                            {% for i in banner1 %}
                            <div class="col-md-6">
                                <div class="banner-img banner-1 wow fadeIn animated">
                                    <img src="{{i.banner_image.url}}" alt="" style="width: 100%; "">
                                    <div class="banner-text">
                                        <span style="color: white;">{{i.appied_for}}</span>
                                        <h4>{{i.offer_title}}</h4>
                                        <a href="{% url 'shop_product_list' %}" style="color: white;">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    
                                
                                {% for i in banner2 %}
                            <div class="col-md-6">
                                <div class="banner-img banner-1 wow fadeIn animated">
                                    <img src="{{i.banner_image.url}}" alt="" style="width: 100%;">
                                    <div class="banner-text">
                                        <span style="color: white;">{{i.appied_for}}</span>
                                        <h4>{{i.offer_title}}</h4>
                                        <a href="{% url 'shop_product_list' %}" style="color: white;">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        
       
    <!-- Preloader Start -->

    <!-- Vendor JS-->
    <script src="{% static 'userassets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'userassets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'userassets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'userassets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/slick.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.theia.sticky.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.elevatezoom.js' %}"></script>
    <!-- Template{% static '  JS -->
    <script src="{% static 'userassets/js/maind134.js' %}"></script>
    <script src="{% static 'userassets/js/shopd134.js' %}"></script>


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:09:48 GMT -->

</html>
<!-- Include SweetAlert CSS and JS -->


<script>
    // Add this script section to your template
    // This script will be executed when the page loads

    // Check if the success message is available (you can set this in your Django view)
    {% if success_message == 'Out of stock !' %}
        // Display SweetAlert for success
        document.addEventListener('DOMContentLoaded', function() {
            Swal.fire({
                icon: 'error',
                title: 'Stock Over !',
                text: '{{ success_message }}',  // Display your success message here
                showConfirmButton: false,
                timer: 2000  // Automatically close after 1.5 seconds
            });
        });
    {% elif success_message == 'All ready in cart !' %}
         document.addEventListener('DOMContentLoaded', function() {
                 Swal.fire({
                     icon: 'error',
                     title: 'Already in cart!',
                     text: '{{ success_message }}',  // Display your success message here
                     showConfirmButton: false,
                     timer: 2000  // Automatically close after 1.5 seconds
                 });
             });
    {% elif success_message == 'All ready in wishlist !' %}
         document.addEventListener('DOMContentLoaded', function() {
                 Swal.fire({
                     icon: 'error',
                     title: 'Already in wishlist!',
                     text: '{{ success_message }}',  // Display your success message here
                     showConfirmButton: false,
                     timer: 2000  // Automatically close after 1.5 seconds
                 });
             });
    {% endif %}
</script>


{% endblock %}