{% extends 'nav.html' %}
{% block contend %}
{% load static %}
    
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Fashion
                    <span></span> Abstract Print Patchwork Dress
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider " style="width: 400px;  background-color: white;">
                                            {% for k in images %}
                                            <figure class="border-radius-10 d-flex justify-content-center" >
                                                <img src="{{k.image_1.url}}" alt="product image"  style="width: 300px;">
                                            </figure>
                                            {% endfor %}
                                           
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            {% for i in images %}
                                            <div><img src="{{i.image_1.url}}" alt="product image" ></div>
                                            {% endfor %}
                                            
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                    <div class="social-icons single-share">
                                        <ul class="text-grey-5 d-inline-block">
                                            <li><strong class="mr-10">Share this:</strong></li>
                                            <li class="social-facebook"><a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                            <li class="social-twitter"> <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                            <li class="social-instagram"><a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                            <li class="social-linkedin"><a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail">{{product.product_name}}</h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brand: <a href="shop-grid-right.html">{{product.brand_id.brand}}</a></span>
                                            </div>
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand">₹{{product.sale_prce}}</span></ins>
                                                <ins><span class="old-price font-md ml-15">₹{{product.product_price}}</span></ins>
                                                <span class="save-price  font-md color3 ml-15">-{{offer}} off</span>
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p>{{product.description}}</p>
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>
                                        <div class="attr-detail attr-color mb-15">
                                            <strong class="mr-10">Color</strong>
                                            <ul class="d-flex">
                                                {% for p in varients %}
                                                <li  class="ms-2 p-2" style="border: 1px solid red;"><a href="{% url 'varient_change' product_id=product.id varient_id=p.id  %}" ><img src="{{p.varient_color.url}}" alt="" style="width: 40px; height: 40px;"></a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                      
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            <!-- <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div> -->
                                            <div class="product-extra-link2">
                                                <a style="    width: 106px;background: #067c68;color: white;" href="{% url 'add_to_cart' product.id current.id%}"><span>Add to cart</span></a>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url 'add_wishlist' product.id current.id %}"><i class="fi-rs-heart"></i></a>
                                              
                                            </div>
                                        </div>
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li class="mb-5">SKU: <a href="#">{{product.pr_id}}</a></li>
                                            <li class="mb-5">Tags: <a href="#" rel="tag">{{product.category_id.category_name}}</a>, <a href="#" rel="tag"></a>,<a href="#" rel="tag">{{product.brand_id.brand_name}}</a> </li>
                                            <li>Availability:<span class="in-stock text-success ml-5">{% if current.quantity < 1 %}<span style="color: red;">out of stock</span>{% else%} {{current.quantity}} {% endif%}</span></li>
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="tab-style3">
                                <ul class="nav nav-tabs text-uppercase">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info">Additional info</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">Reviews (3)</a>
                                    </li>
                                </ul>
                                <div class="tab-content shop_info_tab entry-main-content">
                                    <div class="tab-pane fade show active" id="Description">
                                        <div class="">
                                            <p>{{product.description}}</p>
                                            

                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Additional-info">
                                        <table class="font-md">
                                            <tbody>
                                                <tr class="stand-up">
                                                    <th>product name</th>
                                                    <td>
                                                        <p>{{product.product_name}}</p>
                                                    </td>
                                                </tr>
                                                <tr class="folded-wo-wheels">
                                                    <th>Product color</th>
                                                    <td>
                                                        <p>{{current.varient_id}}</p>
                                                    </td>
                                                </tr>
                                                <tr class="folded-w-wheels">
                                                    <th>Headphone Type</th>
                                                    <td>
                                                        <p>{{product.headphone_type}}</p>
                                                    </td>
                                                </tr>
                                                <tr class="door-pass-through">
                                                    <th>Brand</th>
                                                    <td>
                                                        <p>{{product.brand_id.brand_name}}</p>
                                                    </td>
                                                </tr>
                                                <tr class="frame">
                                                    <th>category</th>
                                                    <td>
                                                        <p>{{product.category_id.category_name}}</p>
                                                    </td>
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="Reviews">
                                        <!--Comments-->
                                        <div class="comments-area">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <h4 class="mb-30">Customer questions & answers</h4>
                                                    
                                                        <!--single-comment -->
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <!--comment form-->
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-60">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="col-12">
                                    <div class="row related-products">
                                        {% for i in related_products %}
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="{% url 'product_detail' i.id%}" tabindex="0">
                                                            <img class="default-img" src="{{i.product_image.url}}" alt="" style="height: 300px;">
                                                            <img class="hover-img" src="{{i.product_image.url}}" alt=""  style="height: 300px;">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        
                                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="{% url 'add_wishlist' product_id=i.id varient_id=0 %}" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot">Hot</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="{% url 'product_detail' i.id%}" tabindex="0">{{i.product_name}}</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>₹{{i.sale_prce}}</span>
                                                        <span class="old-price">₹{{i.product_price}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>
    
    <!-- Preloader Start -->

    <!-- Vendor JS-->
   
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-right.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:05 GMT -->
</html>
<script src="{% static 'userassets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'userassets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'userassets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'userassets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/slick.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.theia.sticky.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.elevatezoom.js' %}"></script>
    <!-- Template{% static '  JS -->
    <script src="{% static 'userassets/js/maind134.js' %}"></script>
    <script src="{% static 'userassets/js/shopd134.js' %}"></script>

    
{% endblock %}