{% extends 'nav.html' %}
{% block contend %}
{% load static %}
<style>
    .total-pricee
    {
    outline: none;
    border: none;
    width: 100px;
    background-color: white;
    }
    .qun
    {

    background-color: gray;
    width: 20px;
    border-radius: 3px;
    color: white;

    }
    .qun:hover
    {
        background-color: white;
        color: black;
    }
    .containerforquantity
    {
        display: flex;
        
        justify-content: center;
        align-items: center;
        width: 40px;
    }
    .containerforquantity input
    {
        width: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0;
        height: 30px;
        border: none;


    }
    .outer{
        display: flex;
    justify-content: center;
    height: 100px;
        
    }
</style>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Your Cart
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if not cart_itmes %}
                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        <div>
                          Cart is Empty !
                        </div>
                      </div>
                    {% else %}
                    {% if cart_itmes %}
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for i in cart_itmes %}
                                <tr>
                                    <td class="image product-thumbnail"><img src="{{ i.varient_id.varient_color.url}}"
                                            alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a
                                                href="shop-product-right.html">{{i.proudct_id.product_name}}</a></h5>
                                        <p class="font-xs">{{i.proudct_id.brand_id.brand_name}}<br>
                                        </p>
                                    </td>
                                    <td class="price" data-title="Price"><span>₹{{i.proudct_id.sale_prce}}</span></td>
                                  
                                        <td class="text-center outer" data-title="Stock">
                                            <div class="containerforquantity" style="width: 100px;">
                                                <a href="#" class="qty-down qun" data-operation="decrease">-</a>
                                                <input type="number" class="qty-val" 
                                                       value="{{ i.proudct_quantity }}" 
                                                       min="1" 
                                                       max="{{ i.varient_id.quantity }}" 
                                                       data-cart-item-id="{{ i.id }}" 
                                                       readonly 
                                                       name="quantity" >
                                                <a href="#" class="qty-up qun" data-operation="increase">+</a>
                                               
                                            </div>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                           <input type="text" data-cart-item-id="{{ i.id }}"  value="₹{{ i.total_price }}" class="total-pricee" disabled>
                                        </td>
                            
                                    <td class="action" data-title="Remove"><a href="{% url 'delete_cart' cart_id=i.id %}" class="text-muted"><i
                                                class="fi-rs-trash"></i></a></td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    <div class="cart-action text-end">
                        <!-- <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a> -->
                        <a class="btn " href="{% url 'user_home' %}"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                    </div>
                    <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                    <div class="row mb-50">
                        
                        <div class="col-lg-12 col-md-12">
                            <div class="border p-md-4 p-30 border-radius cart-totals">
                                <div class="heading_s1 mb-3">
                                    <h4>Cart Totals</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="cart_total_label">Cart Subtotal</td>
                                                <td class="cart_total_amount"><span
                                                        class="font-lg fw-900 text-brand grand_total">₹{{grand_total}}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Shipping</td>
                                                <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free
                                                    Shipping</td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Total</td>
                                                <td class="cart_total_amount"><strong><span
                                                            class="font-xl fw-900 text-brand grand_total"><span id="total" class="total-price">₹{{grand_total}}</span></span></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="{% url 'check_out' %}" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Preloader Start -->

<!-- Vendor JS-->

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

</html>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
$(document).ready(function () {
    $('.qty-up, .qty-down').on('click', function (e) {
        e.preventDefault();

        var operation = $(this).data('operation');
        var cartItemId = $(this).siblings('.qty-val').data('cart-item-id');

        $.ajax({
            type: 'GET',
            url: '/update_cart_quantity/' + cartItemId + '/' + operation + '/',
            success: function (data) {
                if (data.error) {
                    alert(data.error);
                } else {
                    // Update the input field
                    $('[data-cart-item-id="' + cartItemId + '"].qty-val').val(data.quantity);

                    // Update the total price
                    
                    $('[data-cart-item-id="' + cartItemId + '"].total-pricee').val('₹' + data.total_price);

                    // You can update other elements with the total price if needed
                    var grandTotal = 0;

                    $('.total-pricee').each(function() {
                        var totalPriceValue = parseFloat($(this).val().replace('₹', '').trim());
                        grandTotal += totalPriceValue;
                    });
                    $('.grand_total').text('₹' + grandTotal.toFixed(2));
                }
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    });
});




</script>
<script src="{% static 'userassets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'userassets/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'userassets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
<script src="{% static 'userassets/js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'userassets/js/plugins/slick.js' %}"></script>
<script src="{% static 'userassets/js/plugins/jquery.syotimer.min.js' %}"></script>
<script src="{% static 'userassets/js/plugins/wow.js' %}"></script>
<script src="{% static 'userassets/js/plugins/jquery-ui.js' %}"></script>
<script src="{% static 'userassets/js/plugins/perfect-scrollbar.js' %}"></script>
<script src="{% static 'userassets/js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'userassets/js/plugins/select2.min.js' %}"></script>
<script src="{% static 'userassets/js/plugins/waypoints.js' %}"></script>
<script src="{% static 'userassets/js/plugins/counterup.js' %}"></script>
<script src="{% static 'userassets/js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'userassets/js/plugins/images-loaded.js' %}"></script>
<script src="{% static 'userassets/js/plugins/isotope.js' %}"></script>
<script src="{% static 'userassets/js/plugins/scrollup.js' %}"></script>
<script src="{% static 'userassets/js/plugins/jquery.vticker-min.js' %}"></script>
<script src="{% static 'userassets/js/plugins/jquery.theia.sticky.js' %}"></script>
<script src="{% static 'userassets/js/plugins/jquery.elevatezoom.js' %}"></script>
<!-- Template{% static '  JS -->
<script src="{% static 'userassets/js/maind134.js' %}"></script>
<script src="{% static 'userassets/js/shopd134.js' %}"></script>
{% endblock contend %}
