{% extends 'nav.html' %}
{% block contend %}
{% load static %}


<style>
    .code{
        color: #ffffffb5;
        font-size: small;
    }
    .code_data{
        color: white;
        font-weight: 900;
        font-family: 'Spartan';
        font-size: 22px;
    }
    .des{
        color: #ffffffab;
        font-size: small;
    }
    .coupon_cover{
        width: 235px;
        background: whitesmoke;
    }
    .cotends
    {
        background: red;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    </style>
<link type="text/css" href="@@path/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="Search for items…">
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <div class="main-categori-wrap mobile-header-border">
                    <a class="categori-button-active-2" href="#">
                        <span class="fi-rs-apps"></span> Browse Categories
                    </a>
                    <div class="categori-dropdown-wrap categori-dropdown-active-small">
                        <ul>
                            <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a></li>
                            <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer & Office</a>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer Electronics</a>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother & Kids</a>
                            </li>
                            <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                        </ul>
                    </div>
                </div>
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="index.html">Home</a>
                            <ul class="dropdown">
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="index-2.html">Home 2</a></li>
                                <li><a href="index-3.html">Home 3</a></li>
                                <li><a href="index-4.html">Home 4</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="shop-grid-right.html">shop</a>
                            <ul class="dropdown">
                                <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single
                                        Product</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                        <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                        <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop-filter.html">Shop – Filter</a></li>
                                <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                <li><a href="shop-cart.html">Shop – Cart</a></li>
                                <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                <li><a href="shop-compare.html">Shop – Compare</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega menu</a>
                            <ul class="dropdown">
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Women's
                                        Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Dresses</a></li>
                                        <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                        <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                        <li><a href="shop-product-right.html">Women's Sets</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Men's
                                        Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Jackets</a></li>
                                        <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                        <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="#">Technology</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                        <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                        <li><a href="shop-product-right.html">Tablets</a></li>
                                        <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                        <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="blog-category-fullwidth.html">Blog</a>
                            <ul class="dropdown">
                                <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                <li><a href="blog-category-list.html">Blog Category List</a></li>
                                <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single
                                        Product Layout</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                        <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                        <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="page-about.html">About Us</a></li>
                                <li><a href="page-contact.html">Contact</a></li>
                                <li><a href="page-account.html">My Account</a></li>
                                <li><a href="page-login-register.html">login/register</a></li>
                                <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="page-terms.html">Terms of Service</a></li>
                                <li><a href="page-404.html">404 Page</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                            <ul class="dropdown">
                                <li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                                <li><a href="#">Spanish</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a href="page-contact.html"> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="page-login-register.html">Log In / Sign Up </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#">(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">Follow Us</h5>
                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Checkout
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
                        <h4 class="text-center m-5" style="    font-family: sans-serif;
            font-weight: 900;">AVAILBALE COUPONES</h4>
            <div class="row overflow-auto pb-4">
                <div class="col d-flex justify-content-around ">
                    {% for i in coupon %}
                    <div class="container ">
                        <div class="row coupon_cover ">
                                   <div class="col-3 offer">
                                    {{i.offer_per}} % OFF
                                   </div>   
                                   <div class="col-9 cotends">
                                <span class="code">use code:</span>
                                <div class="code_data">{{i.code}}</div>
                                <div class="des">{{i.coupon_name}}</div>
                                   </div>                    
                        </div>
                          </div>
                          {% endfor  %}
                    
                </div>
            </div>
            {% for i in messages %}
            <p style="display: none;" id="erro_message">{{i}}</p>
            {% endfor %}
            <div class="row">

                <div class="col-lg-6">
                    <div class="toggle_info">
                        <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a
                                href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click
                                here to enter your code</a></span>
                    </div>
                    <div class="panel-collapse collapse coupon_form " id="coupon">
                        <div class="panel-body">
                            <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                            <form method="post" action="{% url 'apply_coupon' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" placeholder="Enter Coupon Code..." name="couponcode">
                                </div>
                                <div class="form-group">
                                    <button class="btn  btn-md" type="submit">Apply Coupon</button>
                                </div>
                            </form>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="divider mt-50 mb-50"></div>
                </div>
            </div>
            <form method="post" action="{% url 'check_out'  %}" id="check_out_form">
                {% csrf_token %}
                <div class="row">

                    <div class="col-md-6">
                        {% if user_addresses %}
                        <div class="d-flex pt-4 pb-2 ms-3"><a href="#select" >Select Address Here </div>
                            {% endif %}
                     

                        {% for i in user_addresses %}

                        <div class="card mb-3 mb-lg-4" id="select">

                            <div class="card-header"    style="    background-color: #18936f;">
                                <h5 class="mb-0">Address </h5>
                            </div>
                            <div class="card-body" style=" background: #06ce8e4d;">
                                <input type="radio" name="address" value="{{i.id}}" style="width: 20px;" required class="select_address">
                                <address>{{i.address}}</address>
                                <p>{{i.state}}</p>
                                <p>{{i.country}}</p>

                            </div>
                        </div>
                        {% endfor %}
                        <label for="" id="a"></label>
                          <a href="#a" class="ms-3"> Dont't have an address! Create Add address here</a>
                        <div class="mt-5 d-flex align-items-center ms-3" >
                       
                         <br>
                            <input type="radio" name="address" value="add_address" style="width: 20px;" class="add_adderess select_address"
                                onclick="toggleShipperDetails()" required  id="adder" {% if l.add == 'add_address' %} checked {% endif %}>
                            &nbsp;

                            <label for="adder" style="text-decoration: underline;" >Add new Address here</label>
                        
                        </div>
                        <div class="ship_detail" style="padding: 10px; border: 1px solid rgba(0, 116, 68, 0.344); margin-bottom: 10px;">

                            <div class="form-group">

                            </div>
                            <div>

                                <div class="form-group">
                                    <input type="text"  name="fname" placeholder="First name *" value="{{l.fname}}" id="k" > 
                                </div>
                                <div class="form-group">
                                    <input type="text"  name="lname" placeholder="Last name *" value="{{l.lname}}"  id="k"  >
                                </div>
                                <div class="form-group"> 
                                    <input  type="text" name="cname" placeholder="Company Name/house Name" value="{{l.cname}}"   id="k" >
                                </div>
                                <div class="form-group">
                                    <div class="custom_select">
                                        <select class="form-control select-active" name="country"  id="k" >
                                            <option  selected >Select Your Country</option>
                                            <option value="Aland Islands">Aland Islands</option>
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>
                                            <option value="Andorra">Andorra</option>
                                            <option value="Angola">Angola</option>
                                            <option value="Anguilla">Anguilla</option>
                                            <option value="Antarctica">Antarctica</option>
                                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                            <option value="Argentina">Argentina</option>
                                            <option value="Armenia">Armenia</option>
                                            <option value="Aruba">Aruba</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Austria">Austria</option>
                                            <option value="Azerbaijan">Azerbaijan</option>
                                            <option value="Bahamas">Bahamas</option>
                                            <option value="Bahrain">Bahrain</option>
                                            <option value="Bangladesh">Bangladesh</option>
                                            <option value="Barbados">Barbados</option>
                                            <option value="Belarus">Belarus</option>
                                            <option value="Belau">Belau</option>
                                            <option value="Belgium">Belgium</option>
                                            <option value="Belize">Belize</option>
                                            <option value="Benin">Benin</option>
                                            <option value="Bermuda">Bermuda</option>
                                            <option value="Bhutan">Bhutan</option>
                                            <option value="Bolivia">Bolivia</option>
                                            <option value="Bonaire, Saint Eustatius and Saba">Bonaire, Saint Eustatius
                                                and
                                                Saba</option>
                                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                            <option value="Botswana">Botswana</option>
                                            <option value="Bouvet Island">Bouvet Island</option>
                                            <option value="Brazil">Brazil</option>
                                            <option value="British Indian Ocean Territory">British Indian Ocean
                                                Territory
                                            </option>
                                            <option value="British Virgin Islands">British Virgin Islands</option>
                                            <option value="Brunei">Brunei</option>
                                            <option value="Bulgaria">Bulgaria</option>
                                            <option value="Burkina Faso">Burkina Faso</option>
                                            <option value="Burundi">Burundi</option>
                                            <option value="Cambodia">Cambodia</option>
                                            <option value="Cameroon">Cameroon</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Cape Verde">Cape Verde</option>
                                            <option value="Cayman Islands">Cayman Islands</option>
                                            <option value="Central African Republic">Central African Republic</option>
                                            <option value="Chad">Chad</option>
                                            <option value="Chile">Chile</option>
                                            <option value="China">China</option>
                                            <option value="Christmas Island">Christmas Island</option>
                                            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                            <option value="Colombia">Colombia</option>
                                            <option value="Comoros">Comoros</option>
                                            <option value="Congo (Brazzaville)">Congo (Brazzaville)</option>
                                            <option value="Congo (Kinshasa)">Congo (Kinshasa)</option>
                                            <option value="Cook Islands">Cook Islands</option>
                                            <option value="Costa Rica">Costa Rica</option>
                                            <option value="Croatia">Croatia</option>
                                            <option value="Cuba">Cuba</option>
                                            <option value="CuraÇao">CuraÇao</option>
                                            <option value="Cyprus">Cyprus</option>
                                            <option value="Czech Republic">Czech Republic</option>
                                            <option value="Denmark">Denmark</option>
                                            <option value="Djibouti">Djibouti</option>
                                            <option value="Dominica">Dominica</option>
                                            <option value="Dominican Republic">Dominican Republic</option>
                                            <option value="Ecuador">Ecuador</option>
                                            <option value="Egypt">Egypt</option>
                                            <option value="El Salvador">El Salvador</option>
                                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                                            <option value="Eritrea">Eritrea</option>
                                            <option value="Estonia">Estonia</option>
                                            <option value="Ethiopia">Ethiopia</option>
                                            <option value="Falkland Islands">Falkland Islands</option>
                                            <option value="Faroe Islands">Faroe Islands</option>
                                            <option value="Fiji">Fiji</option>
                                            <option value="Finland">Finland</option>
                                            <option value="France">France</option>
                                            <option value="French Guiana">French Guiana</option>
                                            <option value="French Polynesia">French Polynesia</option>
                                            <option value="French Southern Territories">French Southern Territories
                                            </option>
                                            <option value="Gabon">Gabon</option>
                                            <option value="Gambia">Gambia</option>
                                            <option value="Georgia">Georgia</option>
                                            <option value="Germany">Germany</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="shipping_address"  placeholder="Address *" value="{{l.add1}}"  id="k" >
                                </div>
                                <div class="form-group">
                                    <input type="text" name="shipping_address_2" 
                                        placeholder="Address line2" value="{{l.add2}}"  id="k" >
                                </div>
                                <div class="form-group">
                                    <input  type="text" name="city" placeholder="City*" value="{{l.city}}"  id="k" >
                                </div>
                                <div class="form-group">
                                    <input  type="text" name="state" placeholder="State*" value="{{l.state}}"  id="k" >
                                </div>
                                <div class="form-group">
                                    <input  type="text" name="zipcode" placeholder="Postcode*" value="{{l.pin}}" id="k"  >
                                </div>
                                <div class="form-group">
                                    <div class="custom_select">
                                        <select class="form-control select-active" name="address_type" id="k"  >
                                            <option value="home">Home Address</option>
                                            <option value="work">Work Address</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone"  placeholder="Phoen Number *" value="{{l.phone}}"  id="k" class="phonee">
                                </div>
                              
                              
                            </div>
                        </div>



                        <div class="mb-20">
                            <h5>Additional information</h5>
                        </div>
                        <div class="form-group mb-30">
                            <textarea rows="5" placeholder="Order notes" name="add_inform"></textarea>
                        </div>
          
        </div>
        <div class="col-md-6">
            <div class="order_review">
                <div class="mb-20">
                    <h4>Your Orders</h4>
                </div>
                <div class="table-responsive order_table text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">Product</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in cart_items %}
                            <tr>
                                <td class="image product-thumbnail"><img src="{{i.varient_id.varient_color.url}}" alt="#">
                                </td>
                                <td>
                                    <h5><a href="shop-product-full.html">{{i.product_id.product_name}}</a></h5> <span
                                        class="product-qty">x {{i.proudct_quantity}}</span>
                                </td>
                                <td>₹{{i.total_price}}</td>
                            </tr>
                            {% endfor %}
                            {% if not dis_amount %}
                                <th>SubTotal</th>
                                <td class="product-subtotal" colspan="2">₹{{sum}}</td>
                            </tr>
                            <tr>
                                <th>Shipping</th>
                                <td colspan="2"><em>Free Shipping</em></td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td colspan="2" class="product-subtotal"><span
                                        class="font-xl text-brand fw-900">₹{{sum}}</span></td>
                            </tr>
                            {% endif %}
                            {% if dis_amount %}
                            <th>SubTotal</th>
                                <td class="product-subtotal" colspan="2">₹{{t_price}}</td>
                            </tr>
                            <tr>
                                <th>Shipping</th>
                                <td colspan="2"><em>Free Shipping</em></td>
                            </tr>

                            <tr>
                                <th>Coupon applied</th>
                                <td colspan="2" class="product-subtotal"><span
                                        class="font-xl text-brand fw-900 ">{{couponcode}}</span>
                                    <span style="float: right;"><a class="btn-small btn-danger px-2 rounded" href="{% url 'remove_coupon' %}">X</a></span>
                                    </td>
                            </tr>
                            <tr>
                                <th>Offer percentage</th>
                                <td colspan="2" class="product-subtotal"><span
                                        class="font-xl text-brand fw-900">{{offer_per}}</span></td>
                            </tr>
                            <tr>
                                <th>Discout Amount</th>
                                <td colspan="2" class="product-subtotal"><span
                                        class="font-xl text-brand fw-900">₹{{dis_amount}}</span></td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td colspan="2" class="product-subtotal"><span
                                        class="font-xl text-brand fw-900">₹{{sum}}</span></td>
                            </tr>

                            {% endif %}
                           
                        </tbody>
                    </table>
                </div>
                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                <div class="container">
                    <div class="payment_option">
                        <div class="custome-radio">
                            <input class="form-check-input" type="radio" name="payment_option" id="exampleRadios3" value='cash on delivery' required checked>
                            <label class="form-check-label" for="exampleRadios3">Cash on delivery</label>
                        </div>
                        <div class="custome-radio">
                            <input class="form-check-input" type="radio" name="payment_option" id="exampleRadios4" value="paypal" required>
                            <label class="form-check-label" for="exampleRadios4">Paypal</label>
                        </div>
                        <div class="custome-radio">
                            <input class="form-check-input" type="radio" name="payment_option" id="exampleRadios5" value='wallet_pay' required>
                            <label class="form-check-label" for="exampleRadios5">Wallet Pay</label>
                        </div>
                    </div>
                    
                    <div id="bankTransferContent" style="display: none;">
                        <!-- Content for Cash on Delivery -->
                        <button type="submit" id="placeOrderButton" class="btn btn-primary">Place Order</button>
                    </div>
                    
                    <div id="paypalContent" style="display: none;">
                        <!-- Content for Paypal -->
                        <button id="rzp-button1" class="btn btn-primary">Pay Now</button>
                    </div>
                    
                    <div id="walletContent" style="display: none;">
                        <!-- Content for Wallet Pay -->
                        <button id="walletPayButton" class="btn btn-primary">Pay Using Wallet</button>
                    </div>

                </div>
                
                </form>
            </div>
        </div>
        </div>
        </div>
    </section>
</main>
<footer class="main">
    <section class="newsletter p-30 text-white wow fadeIn animated">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-md-3 mb-lg-0">
                    <div class="row align-items-center">
                        <div class="col flex-horizontal-center">
                            <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                            <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                        </div>
                        <div class="col my-4 my-md-0 des">
                            <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first
                                    shopping.</strong></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- Subscribe Form -->
                    <form class="form-subcriber d-flex wow fadeIn animated">
                        <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                        <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                    </form>
                    <!-- End Subscribe Form -->
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widget-about font-md mb-md-5 mb-lg-0">
                        <div class="logo logo-width-1 wow fadeIn animated">
                            <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                        </div>
                        <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                        <p class="wow fadeIn animated">
                            <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                        </p>
                        <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                        <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                            <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <h5 class="widget-title wow fadeIn animated">About</h5>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Support Center</a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-3">
                    <h5 class="widget-title wow fadeIn animated">My Account</h5>
                    <ul class="footer-list wow fadeIn animated">
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">View Cart</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Track My Order</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Order</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 class="widget-title wow fadeIn animated">Install App</h5>
                    <div class="row">
                        <div class="col-md-8 col-lg-12">
                            <p class="wow fadeIn animated">From App Store or Google Play</p>
                            <div class="download-app wow fadeIn animated">
                                <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                        src="assets/imgs/theme/app-store.jpg" alt=""></a>
                                <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                            <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                            <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container pb-20 wow fadeIn animated">
        <div class="row">
            <div class="col-12 mb-20">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-lg-6">
                <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong>
                    - HTML Ecommerce Template </p>
            </div>
            <div class="col-lg-6">
                <p class="text-lg-end text-start font-sm text-muted mb-0">
                    Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <h5 class="mb-5">Now Loading</h5>
                <div class="loader">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor JS-->
<script src="@@path/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

</html>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var cashOnDeliveryRadio = document.getElementById('exampleRadios3');
        var paypalRadio = document.getElementById('exampleRadios4');
        var walletRadio = document.getElementById('exampleRadios5');
        var bankTransferContent = document.getElementById('bankTransferContent');
        var paypalContent = document.getElementById('paypalContent');
        var walletContent = document.getElementById('walletContent');

        // Set the initial state
        cashOnDeliveryRadio.checked = true;
        bankTransferContent.style.display = 'block';

        // Trigger the 'change' event to show the initial content
        var changeEvent = new Event('change');
        cashOnDeliveryRadio.dispatchEvent(changeEvent);

        // Add event listeners
        cashOnDeliveryRadio.addEventListener('change', function () {
            if (cashOnDeliveryRadio.checked) {
                bankTransferContent.style.display = 'block';
                paypalContent.style.display = 'none';
                walletContent.style.display = 'none';
            }
        });

        paypalRadio.addEventListener('change', function () {
            if (paypalRadio.checked) {
                bankTransferContent.style.display = 'none';
                paypalContent.style.display = 'block';
                walletContent.style.display = 'none';
            }
        });

        walletRadio.addEventListener('change', function () {
            if (walletRadio.checked) {
                bankTransferContent.style.display = 'none';
                paypalContent.style.display = 'none';
                walletContent.style.display = 'block';
            }
        });
    });
</script>


<script>
    var orderAmountInPaise = {{sum}} * 100;  // Multiply by 100 instead of 10
    var roundedAmount = Math.round(orderAmountInPaise);
    var options = {
        "key": "rzp_test_zzvnNnxalKyZJn",
        "amount": roundedAmount,
        "currency": "INR",
        "name": "headset",
        "description": "Purchase",
        "image": "https://example.com/your_logo",
        "order_id": "{{or_idd}}",
        "handler": function (response) {
            // Check if the payment was successful
            if (response.razorpay_payment_id) {
                var orderid = "{{ order.id }}";

// Create a FormData object with the necessary data
                var form = document.getElementById('check_out_form');
                var formData = new FormData(form);
                formData.append('razorpay_payment_id', response.razorpay_payment_id);
                formData.append('order_id', orderid);

                // Get the CSRF token from the cookie
                var csrftoken = getCookie('csrftoken');

                // Make a POST request to the Django view with the CSRF token
                fetch('{% url "check_out" %}', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    body: formData
                })
                .then(response => response.json())  // Assuming the response is JSON
                .then(data => {
                    // Handle the response data as needed
                    console.log(data);
                    // Redirect to a confirmation page or perform further actions
                    window.location.href = `/success/${data.order_Id}`;
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Handle errors as needed
                });
          
            } else {
                // Handle payment failure or cancellation
                alert("Payment failed or canceled!");
            }
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    
    var rzp1 = new Razorpay(options);
    
    // -----------------the first one to execute when pressing pay ubtton --------------------------------
    document.getElementById('rzp-button1').addEventListener('click', function (e) {
    var adderRadio = document.querySelector('.add_adderess');
    var address=document.querySelectorAll('.select_address')
    var bb=1
    for (var i = 0; i < address.length; i++) {
        if ( address[i].checked)
        {
            bb=0
            break
        }
    }
    if (bb == 1){
            Swal.fire({
                       icon: 'error',
                       title: 'Select Address !',
                       showConfirmButton: false,
                       timer: 2000  // Automatically close after 2 seconds
                   });
        }
      else{ 
     if (adderRadio.checked) {
               if (validateFormFields() == 'granded') {
                   // Open the Razorpay payment form
                   rzp1.open();
               }
               else if(validateFormFields() == 'invalid')
               {
                   Swal.fire({
                       icon: 'error',
                       title: 'Enter a valid phone numer !',
                       showConfirmButton: false,
                       timer: 2000  // Automatically close after 2 seconds
                   });
               }
               else if (validateFormFields() == 'empty') {
                   // Display an error message or take appropriate action
                   Swal.fire({
                       icon: 'error',
                       title: 'All fields must be filled',
                       showConfirmButton: false,
                       timer: 2000  // Automatically close after 2 seconds
                   });
               }
        }
        else{
              rzp1.open();
        }
    }
      

    // Prevent the default form submission
    e.preventDefault();

    });


    function validateFormFields() {
    // Add your logic to validate form fields
    var formFields = document.querySelectorAll('#k');
    var phoneNumberField = document.querySelector('.phonee');
    for (var i = 0; i < formFields.length; i++) {
        if (!formFields[i].value.trim()) {
            // Field is empty
           
            return "empty"
        }
        
    }
  

    if (phoneNumberField.value.trim().length !== 10 ) {
            // Field is empty
            console.log(phoneNumberField.value)
            return 'invalid'
        }

    // All fields are filled
    return 'granded'
    }



    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Check if the cookie name matches the expected format
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    </script>





<script src="{% static 'assets/js/vendors/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/select2.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/vendors/jquery.fullscreen.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/chart.js' %}"></script>
<!-- Main Scr{% static 'ipt -->
<script src="{% static 'assets/js/main.js" type="text/javascript' %}"></script>
<script src="{% static 'assets/js/custom-chart.js" type="text/javascript' %}"></script>
<script>
     {% if message == 'All field must be filled !' %}
         document.addEventListener('DOMContentLoaded', function() {
                 Swal.fire({
                     icon: 'error',
                     title: 'All fields must be filled',
                     text: '{{ message }}',  // Display your success message here
                     showConfirmButton: false,
                     timer: 2000  // Automatically close after 1.5 seconds
                 });
             });
        {% elif message == 'Phone Number is not Valid!' %}
            document.addEventListener('DOMContentLoaded', function() {
                 Swal.fire({
                     icon: 'error',
                     title: 'Phone Number is not Valid!',
                     text: '{{ message }}',  // Display your success message here
                     showConfirmButton: false,
                     timer: 2000  // Automatically close after 1.5 seconds
                 });
             });
        {% elif message == 'Insufficient wallet balance !' %}
            document.addEventListener('DOMContentLoaded', function() {
                 Swal.fire({
                     icon: 'error',
                     title: 'Insufficient wallet balance !',
                     text: '{{ message }}',  // Display your success message here
                     showConfirmButton: false,
                     timer: 2000  // Automatically close after 1.5 seconds
                 });
             });
    {% endif %}

    
    document.addEventListener('DOMContentLoaded', function() {
        // Retrieve the content of the hidden paragraph
        var errorMessage = document.getElementById('erro_message').innerText.trim();

        // Check if the errorMessage has content
        if (errorMessage == 'You have already used this coupon ,sorry !') {
            Swal.fire({
                icon: 'error',
                title: 'You have already used this coupon ,sorry !',
                text: errorMessage,
                showConfirmButton: false,
                timer: 3000  // Automatically close after 2 seconds
            });
        }
        if (errorMessage == 'Invalid coupon code!') {
            Swal.fire({
                icon: 'error',
                title: 'Invalid coupon code!',
                text: errorMessage,
                showConfirmButton: false,
                timer: 3000  // Automatically close after 2 seconds
            });
        }
        if (errorMessage == 'This order is not eligible for this offer!') {
            Swal.fire({
                icon: 'error',
                title: 'This order is not eligible for this offer!',
                text: errorMessage,
                showConfirmButton: false,
                timer: 3000  // Automatically close after 2 seconds
            });
        }
        if (errorMessage == 'Insufficient wallet balance !') {
            Swal.fire({
                icon: 'error',
                title: 'Insufficient wallet balance !',
                text: errorMessage,
                showConfirmButton: false,
                timer: 3000  // Automatically close after 2 seconds
            });
        }
    });

   
</script>
    <script src="{% static 'userassets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'userassets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'userassets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'userassets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/slick.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.theia.sticky.js' %}"></script>
    <script src="{% static 'userassets/js/plugins/jquery.elevatezoom.js' %}"></script>
    <!-- Template{% static '  JS -->
    <script src="{% static 'userassets/js/maind134.js' %}"></script>
    <script src="{% static 'userassets/js/shopd134.js' %}"></script>

{% endblock contend %}