{% extends 'nav.html' %}
{% block contend %}
{% load static %}
<style>
    .return_button{
        background: #1d5eff;
    /* width: 100px; */
    /* size: 20px; */
    font-size: 15px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    }
</style>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Your Cart
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                        <div class="col-lg-12 col-md-12">
                            <div class="border p-md-4 p-30 border-radius cart-totals ">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                       <div class="d-flex align-items-center"> <h6 class="">Ordered Date :</h6><span>{{order.added_date}} </span></div>
                                        <div class="d-flex align-items-center mb-3"><img src="{{order.varient_id.varient_color.url}}" alt="" style="width: 50px ;"> <span style="font-size: 20px;" class="me-3 ms-4">x</span>{{order.proudct_quantity}}</div>
                              <div class="mt-4">{{order.proudct_id.product_name}}</div>
                              <div class="mt-2">{{order.proudct_id.description}}</div>
                              <div class="mt-2">₹{{order.proudct_id.sale_prce}}</div>
                            </div>
                            <div class="col-6 col-lg-3">
                              
                                <h4>Address</h4>
                             <div style="padding-right: 20px; word-wrap: break-word;">

                                <address>{{address.address}}</address>
                                <address>{{address.pin}}</address>
                                <address>{{address.company_name}}</address>
                                <address>{{address.first_name}}{{address.last_name}}</address>
                                <address>{{address.country}}</address>
                                <address>{{address.state}}</address>
                                <address>{{address.city}}</address>
                                <address>{{address.phone}}</address>
 
                             </div>
                  
                             
                            </div>
                            <div class="col-6 col-lg-3">
                                <h4>Customer Detailes</h4>
                                <address>{{order.order_id.user_id.first_name}}{{order.order_id.user_id.last_name}}</address>
                                <address>{{order.order_id.user_id.phone_number}}</address>
                                <address>{{order.order_id.user_id.email}}</address>
                                
                                
                            </div>
                            <div class="col-12">
                                <h4>Order status</h4>
                               {% if order.order_status == 'return_initiated' %}
                                    <span style="background-color: rgba(193, 230, 11, 0.852); border: none; border-radius: 20px; padding: 4px 10px; color: rgba(0, 0, 0, 0.858); font-weight: 600; margin-top: 5px;">Requested for return</span>
                               {% else %}
                                    {% if order.order_status != 'canceld' %}

                                        <span style="background-color: rgba(8, 193, 8, 0.852); border: none; border-radius: 20px; padding: 4px 10px; color: rgba(0, 0, 0, 0.858); font-weight: 600; margin-top: 5px;">{{order.order_status}}</span>
                                    {% else %}
                                        <span style="background-color: rgba(213, 13, 13, 0.852); border: none; border-radius: 20px; padding: 4px 10px; color: rgba(0, 0, 0, 0.858); font-weight: 600; margin-top: 5px;">{{order.order_status}}</span>
                                    {% endif %}
                               {% endif %}
                            </div>
                            {% if order.order_status == 'delivered' %}
                            <div class="col-12 col-lg-6 mt-4">
                                <form action="{% url 'req_return' %}" method="post" >
                                    {% csrf_token %}
                                <input type="number" value="{{order.id}}" hidden name="order_id">
                               <textarea name="reason" id="reason" cols="30" rows="10" placeholder="Enter the reason for return"></textarea>
                               <button  type="submit" class="return_button" >Return</button>
                            </form>
                            </div> 
                            {% endif %}
                            {% for i in messages%}
                            <p id="error_message" style="display: none;">
                               {{i}}
                            </p>
                            {% endfor %}
                                </div>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Preloader Start -->

<!-- Vendor JS-->

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
            var error = document.getElementById('error_message').innerText.trim();

            if (error == 'Reason should be specified !') {
                Swal.fire({
                    icon: 'error',
                    title: 'Sorry somethng went wrong...',
                    text: 'Specify the reason for return !',

                });
                return false;
            }

            return true;
        });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock contend %}

