{% extends 'nav.html' %}
{% block contend %}
{% load static %}
<style>
    .add_to_cart
    {
        background: #028170;
    border: none;
    padding: 4px 7px;
    border-radius: 4px;
    color: white;
    }
</style>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Your Wishlist
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if not wishlist %}
                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        <div>
                          Wishlist is Empty !
                        </div>
                      </div>
                    {% else %}
                    {% if wishlist %}
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean" >
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for i in wishlist %}
                                <tr>
                                    <td class="image product-thumbnail"><img src="{{ i.varient_id.varient_color.url}}"
                                            alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a
                                                href="shop-product-right.html">{{i.proudct_id.product_name}}</a></h5>
                                        <p class="font-xs">{{i.proudct_id.brand_id.brand_name}}<br>
                                        </p>
                                    </td>
                                  
                                            <td class="text-right" data-title="Cart">
                                            <span class="total-price">₹{{ i.price }}</span>
                                        </td>
                            
                                    <td class="action" data-title="Remove"><a href="{% url 'remove_wishlist' wishlist_id=i.id %}" class="text-muted"><i
                                                class="fi-rs-trash"></i></a></td>         
                                    <td class="action"><a class="add_to_cart" href="{% url 'add_to_cart' product_id=i.proudct_id.id varient_id=0 %}" class="text-muted"><span>Add to cart</span></a></td>         
                     
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    <div class="cart-action text-end">
                        <!-- <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a> -->
                        <a class="btn " href="{% url 'user_home' %}"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                    </div>
                    <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                    <div class="row mb-50">
                        
                        
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Preloader Start -->

<!-- Vendor JS-->

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

</html>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'userassets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'userassets/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'userassets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
<script src="{% static 'userassets/js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'userassets/js/plugins/slick.js' %}"></script>
<script src="{% static 'userassets/js/plugins/jquery.syotimer.min.js' %}"></script>
<script src="{% static 'userassets/js/plugins/wow.js' %}"></script>
<script src="{% static 'userassets/js/plugins/jquery-ui.js' %}"></script>
<script src="{% static 'userassets/js/plugins/perfect-scrollbar.js' %}"></script>
<script src="{% static 'userassets/js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'userassets/js/plugins/select2.min.js' %}"></script>
<script src="{% static 'userassets/js/plugins/waypoints.js' %}"></script>
<script src="{% static 'userassets/js/plugins/counterup.js' %}"></script>
<script src="{% static 'userassets/js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'userassets/js/plugins/images-loaded.js' %}"></script>
<script src="{% static 'userassets/js/plugins/isotope.js' %}"></script>
<script src="{% static 'userassets/js/plugins/scrollup.js' %}"></script>
<script src="{% static 'userassets/js/plugins/jquery.vticker-min.js' %}"></script>
<script src="{% static 'userassets/js/plugins/jquery.theia.sticky.js' %}"></script>
<script src="{% static 'userassets/js/plugins/jquery.elevatezoom.js' %}"></script>
<!-- Template{% static '  JS -->
<script src="{% static 'userassets/js/maind134.js' %}"></script>
<script src="{% static 'userassets/js/shopd134.js' %}"></script>

{% endblock contend %}
